.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(33, 37, 41, 0.5);
}

.panel {
  position: absolute;
  height: 80vh;
  width: 40vw;
  min-width: 80vh;
  top: 10vh;
  left: 30vw;
  background-color: rgba(255, 255, 255, 0.6);
}

.side {
  float: left;
  height: 100%;
  width: calc((40vw - 40vh) / 2);
  min-width: 20vh;
}

.field {
  float: left;
  height: 100%;
  width: 40vh;
  border: 1px solid rgb(255, 255, 255);
}

.cell {
  height: 5%;
  width: 10%;
  float: left;
  background-color: rgb(210, 210, 210);
  border: 1px solid rgb(240, 240, 240);
}

.hold {
  width: 100%;
  height: 20vh;
  border: 1.6px solid rgb(255, 255, 255);
  border-right-width: 0.6px;
}

.hold-text {
  width: 100%;
  height: 8vh;
  padding-top: 2vh;
  font-size: 3.6vh;
  text-align: center;
  user-select: none;
  color: rgba(0, 0, 0, 0.8);
}

.hold-piece {
  position: absolute;
  width: calc((100% - 40vh) / 2);
  height: 8vh;
}

.hold-piece-other {
  position: absolute;
  width: 12vh;
  height: 8vh;
  left: calc((100% - 12vh) / 2);
  z-index: 1;
}

.hold-piece-o {
  position: absolute;
  width: 8vh;
  height: 8vh;
  left: calc((100% - 8vh) / 2);
  z-index: 2;
}

.hold-piece-i {
  position: absolute;
  width: 16vh;
  height: 4vh;
  top: 2vh;
  left: calc((100% - 16vh) / 2);
  z-index: 3;
}

.hold-cell {
  height: 4vh;
  width: 4vh;
  float: left;
}

.hold-cell-invisible {
  height: 4vh;
  width: 4vh;
  float: left;
}

.next {
  position: absolute;
  height: 8vh;
  width: calc((100% - 40vh) / 2);
}

.next-text {
  position: absolute;
  height: 8vh;
  width: calc((100% - 40vh) / 2);
  padding-top: 2vh;
  font-size: 3.6vh;
  text-align: center;
  user-select: none;
  color: rgba(0, 0, 0, 0.8);
}

.combo {
  width: 100%;
  height: 18vh;
  padding-top: 4vh;
  font-size: 2.4vh;
  text-align: center;
  user-select: none;
  color: rgb(231, 76, 60);
  z-index: 2;
}

.score {
  width: 100%;
  height: 60vh;
  border: 1.6px solid rgb(255, 255, 255);
  border-top: 0;
  border-right-width: 0.6px;
}

.score-bar {
  width: 100%;
  height: 12vh;
  text-align: center;
  user-select: none;
  padding-top: 4vh;
  font-size: 3vh;
  color: rgba(0, 0, 0, 0.8);
}

.score-bar>p {
  margin-bottom: 0;
}

.info {
  position: absolute;
  width: 40vh;
  height: 8vh;
  left: calc((100% - 40vh) / 2);
  top: 24vh;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.4);
}

#tinfo {
  width: 100%;
  height: 100%;
  line-height: 8vh;
  font-size: 2.8vh;
  text-align: center;
  color: black;
}

#debug-button {
  position: absolute;
  top: 90vh;
  left: 30vw;
  width: 40vw;
  min-width: 80vh;
  max-height: 10vh;
  background-color: rgb(210, 210, 210);
}

.ranking-panel {
  position: absolute;
  height: 80vh;
  width: 40vw;
  min-width: 80vh;
  z-index: 5;
  background-color: rgba(33, 37, 41, 0.5);
  color: rgb(255, 255, 255);
  text-align: center;
  user-select: none;
  padding-top: 6vh;
}

#ranking-title {
  margin-bottom: 1vh;
  font-size: 4.8vh;
}

#ranking-button {
  width: 36vh;
  max-height: 6vh;
  margin-top: 2vh;
}

#ranking-record {
  margin: auto;
  width: 32vh;
  height: 40vh;
  font-size: 2.4vh;
  line-height: 3.2vh;
  text-align: left;
}

.pause-panel {
  position: absolute;
  height: 80vh;
  width: 40vw;
  min-width: 80vh;
  z-index: 5;
  background-color: rgba(33, 37, 41, 0.5);
  color: rgb(255, 255, 255);
  text-align: center;
  user-select: none;
  padding-top: 16vh;
}

#pause-menu {
  margin-top: 4vh;
  width: 36vh;
}